* {
  margin: 0;
  padding: 0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(0, 0%, 100%);
  font-family: 'Roboto', sans-serif;
}

input,
label,
select,
textarea,
li,
span,
p {
  color: hsl(0, 0%, 100%);
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: hsl(226, 63%, 45%);
  margin: 0 auto;
  width: 90%;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}


.menu-button {
  position: relative;
  z-index: 3001;
}

.menu-button button svg {
  width: 3rem;
}

.menu-button button svg path {
  fill: hsl(0, 0%, 100%);
}

.menu {
  background-color: hsl(19, 63%, 45%);
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 0.3s;
  z-index: 3000;
}

.menu.active {
  top: 0;
}

.filter {
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 0.2rem 0;
  z-index: 2999;
}

.filter-button button svg {
  width: 2rem;
}

.filter-button button svg path {
  fill: hsl(207, 85%, 69%);
}

.filter-button button:hover svg path {
  fill: hsl(34, 79%, 53%);
}

.filter-modal {
  background-color: hsla(0, 7%, 3%, 0.5);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3000;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.filter-modal.active {
  opacity: 1;
  visibility: visible;
}

.filter-form {
  background-color: hsl(219, 77%, 46%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1em 2em;
  border: 5px solid white;
}

.filter-title span {
  text-align: center;
  text-transform: uppercase;
}

.filter-buttons {
  display: flex;
  gap: 0.6em;
}

.filter-buttons .confirm {
  background-color: green;
  padding: 0.5em 0.5em;
  width: 50%;
}

.filter-buttons .cancel {
  background-color: red;
  padding: 0.5em 0.5em;
  width: 50%;
}

.crud {
  display: flex;
  gap: 5%;
  justify-content: space-between;
}

.table {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
}

.table-buttons {
  background-color: hsl(207, 85%, 69%);
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}

.edit-button button svg,
.delete-button button svg {
  width: 2rem;
}

.edit-button button svg path,
.delete-button button svg path {
  fill: hsl(0, 0%, 100%);
}

.edit-button button:hover svg path,
.delete-button button:hover svg path {
  fill: hsl(34, 79%, 53%);
}

.delete-modal {
  background-color: hsla(0, 7%, 3%, 0.5);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3003;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.delete-modal.active {
  opacity: 1;
  visibility: visible;
}

.delete-form {
  background-color: hsl(219, 77%, 46%);
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  border: 5px solid white;
  padding: 1em 2em;

}

.delete-title span {
  text-align: center;
  text-transform: uppercase;
}

.delete-buttons {
  display: flex;
  text-transform: uppercase;
  gap: 0.6em;

}

.delete-buttons .confirm {
  background-color: green;
  padding: 0.5em 0.5em;
  width: 50%;
}

.delete-buttons .cancel {
  background-color: red;
  padding: 0.5em 0.5em;
  width: 50%;
}

.table-data {
  background-color: hsl(226, 64%, 66%);
  padding: 0.5rem;
}

.table-data ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.table-data ul li span {
  font-weight: 700;
}

.table-data ul li span::after {
  content: ":";
  margin-right: 0.5rem;
}

.form {
  flex: 2;

}

.tab.active {
  visibility: 0;
  opacity: 0;
}

.form-top-bar {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 1rem;
  padding-right: 0.5rem;
}

.tabs {
  display: flex;
  justify-content: flex-start;
}
.tab-button{
  padding: 0.5em 1em;
 
}
.tab-button.active {
  background-color: hsl(204, 75%, 36%);
  color: hsl(180, 100%, 97%);
}

.form-buttons{
  display: flex;
  justify-content: flex-end;
}


.form-clean-button button svg,
.form-save-button button svg {
  width: 2rem;

}

.form-clean-button button svg path,
.form-save-button button svg path {
  fill: hsl(207, 85%, 69%);
}

.form-clean-button button:hover svg path,
.form-save-button button:hover svg path {
  fill: hsl(34, 79%, 53%);
}


.form-row {
  display: flex;
  gap: 2rem;
}

.form-element {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.form-element-label label {
  font-weight: 700;
}

.form-element-input * {
  background-color: hsl(226, 64%, 66%);
  border: none;
  box-sizing: border-box;
  font-size: 1rem;
  height: 2rem;
  outline: transparent;
  padding: 0.5rem;
  width: 100%;
}

.form-element-input input[type="number"]::-webkit-outer-spin-button,
.form-element-input input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-element-input input[type="date"]::-webkit-calendar-picker-indicator,
.form-element-input input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.form-element-input textarea {
  height: 20vh;
  resize: none;
}